<h2 class="employees">Employee List</h2>

<div>
  <button (click)="add()">
    + New Employee
  </button>
</div>

<table id="employee">
    <tr>
      <th style="text-align: center">Employee ID</th>
      <th style="text-align: center">Employee Name</th>
      <th style="text-align: center">Department</th>
      <th style="text-align: center">Actions</th>
    </tr>
    <tr *ngFor="let e of employees; let i=index;">
      <td>{{e.id}}</td>
      <td>{{e.name}}</td>
      <td>{{e.department}}</td>
      <td style="text-align: center"> <button class="delete" title="delete employee"
        (click)="updateEmployee(e.id)">&#9998;</button></td>
    </tr>
  </table>
  