input {
    color: black;
    padding: 10px 15px;
    margin: 8px 0 20px 0;
    border: 1px solid;
    border-radius: 2px;
    cursor: pointer;
    font-size: 14px;
}

button {
    border: none;
    font-size: 15px;
    font-family: Arial;
    cursor: pointer;
}
.btn {
    background-color: #eee;
    padding: 5px 10px;
    border-radius: 4px;
    margin: 0 1em 1em 0; 
  }

.backbtn {
    color: blue;
    padding: 0px 5px 10px 10px;
    text-decoration: underline;
}