<div>
  <h2>Employee Edit</h2>
  <button (click)="router.navigate(['/employees'])" class="backbtn">Back</button>
  <div>
    <label>Employee ID</label>
    <br>
    <input [(ngModel)]="employee.id" placeholder="Employee Id"/>
    <br>
    <label>Name</label>
    <br>
    <input [(ngModel)]="employee.name" placeholder="Employee Name"/>
    <br>
    <label>Department</label>
    <br>
    <input [(ngModel)]="employee.department" placeholder="Department"/>
    <br>
  </div>
  <button (click)="updateEmployee()" class="btn">Save</button>
  <button (click)="delete(employee._id)" class="btn">Delete</button>
</div>



